In [1]:
import numpy as np 
import pandas as pd

In [18]:
recipes = pd.read_csv("recipes.csv")

In [19]:
recipes.columns

Index(['RecipeId', 'Name', 'AuthorId', 'AuthorName', 'CookTime', 'PrepTime',
       'TotalTime', 'DatePublished', 'Description', 'Images', 'RecipeCategory',
       'Keywords', 'RecipeIngredientQuantities', 'RecipeIngredientParts',
       'AggregatedRating', 'ReviewCount', 'Calories', 'FatContent',
       'SaturatedFatContent', 'CholesterolContent', 'SodiumContent',
       'CarbohydrateContent', 'FiberContent', 'SugarContent', 'ProteinContent',
       'RecipeServings', 'RecipeYield', 'RecipeInstructions'],
      dtype='object')

In [30]:
recipes['AggregatedRating'].describe()

count    269294.000000
mean          4.632014
std           0.641934
min           1.000000
25%           4.500000
50%           5.000000
75%           5.000000
max           5.000000
Name: AggregatedRating, dtype: float64

In [31]:
meals = pd.read_csv("meals.csv")

In [16]:
meals_trimmed = meals.iloc[:, :-1]

In [36]:
meals_trimmed['Images'].describe

<bound method NDFrame.describe of 0       "https://img.sndimg.com/food/image/upload/w_55...
1       "https://img.sndimg.com/food/image/upload/w_55...
2                                            character(0)
3                                            character(0)
4                                            character(0)
                              ...
5995                                         character(0)
5996    "https://img.sndimg.com/food/image/upload/w_55...
5997    c("https://img.sndimg.com/food/image/upload/w_...
5998                                         character(0)
5999    "https://img.sndimg.com/food/image/upload/w_55...
Name: Images, Length: 6000, dtype: object>

In [11]:
meals_trimmed.to_csv("meals_trimmed.csv")

In [13]:
meals_trimmed_5 = meals_trimmed.iloc[:5,:]

In [16]:
meals_trimmed_5.columns

Index(['Id', 'Name', 'CookTime', 'PrepTime', 'TotalTime', 'Images',
       'ExpiryDate', 'RecipeCategory', 'Keywords',
       'RecipeIngredientQuantities', 'RecipeIngredientParts',
       'AggregatedRating', 'ReviewCount', 'Calories', 'ProteinContent',
       'CarbohydrateContent', 'FatContent', 'SaturatedFatContent',
       'CholesterolContent', 'SodiumContent', 'FiberContent', 'SugarContent',
       'RecipeServings', 'RecipeYield', 'RecipeInstructions'],
      dtype='object')

In [15]:
meals_trimmed_5.to_csv("meals_trimmed_5.csv")

In [17]:
import pandas as pd


# Save DataFrame to JSON file
meals_trimmed.to_json('meals_trimmed.json', orient='records', indent=4)

print("DataFrame has been saved to 'output.json'")

DataFrame has been saved to 'output.json'

In [5]:
reviews = pd.read_csv("reviews.csv")

In [6]:
reviews.head()

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z,2001-10-17T16:49:59Z
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z
3,13,7435,1773,Malarkey Test,5,easily the best i have ever had. juicy flavor...,2000-03-13T21:15:00Z,2000-03-13T21:15:00Z
4,14,44,2085,Tony Small,5,An excellent dish.,2000-03-28T12:51:00Z,2000-03-28T12:51:00Z

In [8]:
reviews_with_name = reviews.merge(recipes[['RecipeId', 'Name']], 
                                  left_on='RecipeId', 
                                  right_on='RecipeId', 
                                  how='left')

# Optionally drop the extra 'id' column from recipe_details if not needed
# reviews_with_name.drop(columns=['id'], inplace=True)

In [12]:
reviews_with_name.columns

Index(['ReviewId', 'RecipeId', 'AuthorId', 'AuthorName', 'Rating', 'Review',
       'DateSubmitted', 'DateModified', 'Name'],
      dtype='object')

In [38]:
reviews_with_name.to_csv('reviews_names.csv')